@import url("https://fonts.googleapis.com/css?family=Poiret+One|Roboto:300,400&display=swap");
@font-face {
  font-family: "Melinda";
  src: url("../../fonts/melinda.ttf");
}
/* resets */
body {
  margin: 0;
  padding: 0;
  font-size: "Roboto", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* variables */
:root {
  --main-color: "black";
}

/* layout */
body {
  background-color: black;
}

.sb-header {
  text-align: center;
  padding: 26px;
}

.sb-header h1 {
  font-family: "Melinda", cursive;
  font-size: 35px;
  padding: 15px;
  color: white;
}

.sb-header h2 {
  font-family: "Poiret One", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.58em;
  color: white;
}
.sb-content {
  display: grid;
  min-height: 400px;
  max-width: 1378px;
  margin: 0 auto;
  grid-gap: 100px;
  margin-top: 50px;
  grid-template-areas: "
    nav content content content
  ";
}
.sb-main-content {
  grid-area: content;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.sb-main-content p {
  line-height: 25px;
}

.sb-side-navigation {
  grid-area: nav;
}

.sb-side-navigation__item {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 300;
  width: 150px;
  position: relative;
  text-decoration: none;
}

.sb-side-navigation__item.active {
  color: white;
}

.sb-side-navigation__item.active:after {
  position: absolute;
  right: 6px;
  top: 6px;
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
}

.sb-main-content__title {
  font-family: "Melinda", sans-serif;
  font-size: 25px;
}

.slider-container {
  width: 70vw;
  margin-top: 30px;
}

.photography__slide {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.photography__slide img {
  display: inline-block;
  width: 100%;
}

.slick-dots li button:before {
  color: #eaeaea;
}

.slick-dots li.slick-active button:before {
  color: white;
}
